---
const {...activite} = Astro.props;
import { formatDate } from "../../backend/backend.mjs";
import ImagePB from "./ImagePB.astro";
const formatDeLaDate = formatDate(activite.date_projection);
---

<a href={`/activites/${activite.id}`} class="block rounded-sm shadow-md bg-white mb-4 transition hover:scale-[1.01] max-w-sm mx-auto overflow-hidden">
  <div class="relative aspect-[16/9] flex items-center justify-center bg-gray-100">
    <span class="absolute top-0 right-0 bg-black text-white text-xs font-bold px-2 py-1 m-2 rounded-md z-10">Activité</span>
    <div class="absolute inset-0 bg-gradient-to-t from-black/60 to-transparent opacity-50"></div>
    <ImagePB 
      src={activite.img} 
      alt={`Image: ${activite.titre}`} 
      classImg="w-full h-full object-cover object-top absolute inset-0"
      pictureAttributes={{ loading: "lazy" }}
    />
  </div>
  
  <div class="p-4">
    <h3 class="text-lg font-bold text-gray-900 line-clamp-2 mb-2">{activite.titre}</h3>
    <p class="underline text-black text-xs mb-4">{formatDeLaDate}</p>
    <div class="first-letter:uppercase lowercase text-gray-600 text-xs mb-3 line-clamp-3" set:html={activite.description}></div>
    
    <div class="grid grid-cols-2 gap-2 text-xs border-t border-gray-100 pt-3">
      <div class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-500 mr-1 shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
        <span class="text-gray-500 truncate">{activite.duree}min</span>
      </div>
      
      <div class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-500 mr-1 shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" /><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" /></svg>
        <span class="text-gray-500 text-[11px]">{activite.lieu}</span>
      </div>
    </div>
  </div>
</a>