---
import ImagePB from "./ImagePB.astro";
const { ...invite } = Astro.props;
---

<a
  href={`/invites/${invite.id}`}
  class="flex justify-center items-center flex-col p-4 mx-auto"
>
  <ImagePB 
    src={invite.img} 
    alt={`Photo de ${invite.prenom} ${invite.nom}`}
    classImg="w-3/4 w-[30vw] h-auto mx-auto"
    pictureAttributes={{ loading: "lazy" }}
  />
  <h3 class="font-raleway font-bold text-base text-center tracking-normal mt-2">
    {invite.prenom}
    <span class="uppercase">{invite.nom}</span>
  </h3>
  <p
    class="italic text-xs font-normal lowercase first-letter:uppercase tracking-normal"
  >
    {invite.metier}
  </p>
</a>
