---
const { ...evenement } = Astro.props;
import { formatDate } from "../../backend/backend.mjs";
const formatDeLaDate = formatDate(evenement.date);

let targetRoute = `/`; // default route

if (evenement.type === "Film" && evenement.id_original) {
  targetRoute = `/films/${evenement.id_original}`;
} else if (evenement.type === "Activite" && evenement.id_original) {
  targetRoute = `/activites/${evenement.id_original}`;
}

---

<a
  class="flex flex-col sm:flex-row justify-center items-stretch w-full sm:w-5/6 mx-auto"
  href={targetRoute}
>
  <div class="w-full sm:w-2/5">
    <img
      class="w-full h-48 sm:h-full object-cover"
      src={evenement.img}
      alt={`Image de l'événement ${evenement.titre}`}
    />
  </div>

  <div
    class="bg-sweetwhite text-black w-full sm:w-3/5 flex flex-col justify-start items-center py-4"
  >
    <h3 class="font-extrabold text-center font-montserrat my-3">
      {evenement.titre}
    </h3>
    <p class="underline font-bold uppercase my-4">{formatDeLaDate}</p>
    <p class="uppercase font-thin">{evenement.salle}</p>

    {
      evenement.expand?.invite_associes && (
        <div class="mt-6 mb-2 flex flex-col sm:flex-row items-center justify-center w-full">
          <div class="sm:w-20 text-center sm:text-right sm:mr-4 mb-2 sm:mb-0">
            <p class="text-xs">Avec :</p>
          </div>

          <div class="flex items-center sm:w-32">
            <div class="w-10 flex justify-center">
              <img
                class="w-8 h-8 rounded-full object-cover"
                src={evenement.expand.invite_associes.img}
                alt={`Photo de ${evenement.expand.invite_associes.prenom} ${evenement.expand.invite_associes.nom}`}
              />
            </div>
            <div class="ml-1">
              <p class="text-[8px] sm:text-[8px] font-bold">
                {evenement.expand.invite_associes.prenom}{" "}
                {evenement.expand.invite_associes.nom}
              </p>
            </div>
          </div>
        </div>
      )
    }
  </div>
</a>
